body{
  background-color: grey;
}
.tittle{
  height: 100px;
  display: inline-block;
  position: absolute;
  height: 200px;
  width: 400px;
  margin: -100px 0 0 -200px;
  top: 20%;
  left: 50%;

}
img{
  /*display: inline-block;*/
  height: 70px;
  width: 70px;
}
h3{
display: inline-block;
}
.wrapper{
  float: center;
}
.content{
  height: 70px;
  width: 70px;
  display: inline;
  bottom: 40%;
}
